.App {
  text-align: center;
}

.App-header {
  background-color: #476780;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 50px;
}

.App-link {
  color: white;
  margin-right: 50px;
  margin-left: 15px;
  font-weight: bolder;
  float: left;
  text-decoration:none;

}

.App-link:hover {
  color: gray;
}

.Content {
  width: max-content;
  display: flex;
  gap: 300px;
  justify-content: left;
}

.DeployButton {
  padding: 15px;
  /* background-color: green; */
  min-width: 200px;
  margin: 60px;
}
.DeployButton:hover {
  background-color: rgb(0, 117, 0);
}

.Urls {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.HelpIcon {
  border-radius: 15px;
  border: 0px;
  background-color: white;
}

.Footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(198, 198, 198);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Meno {
  align-self: right;
}

.Logs {
  margin-top: 15px;
  white-space: pre-wrap; /* or pre-line */
  text-align: left;
  overflow-y: auto;
  max-height: 400px;
  min-width: 700px;
  max-width: 700px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-color: rgb(223, 223, 223);
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
